.billsblue {
    background-color: #00338D;
    color: white;
    width: 320px;
    padding-left: 5px;
}

.lionsblue {
    background-color: #0076B6;
    color: white;
    width: 320px;
    padding-left: 5px;
}

.giantsblue {
    background-color: #0B2265;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.bravesblue {
    background-color: #13274F;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.royalsblue {
    background-color: #004687;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.angelsblue {
    background-color: #003263;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.jaysblue {
    background-color: #134A8E;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.jaysblue2 {
    background-color: #1D2D5C;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.billsred {
    background-color: #C60C30;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.giantsred {
    background-color: #A71930;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.bravesred {
    background-color: #CE1141;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.angelsred {
    background-color: #BA0021;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.angelsred2 {
    background-color: #862633;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.jaysred {
    background-color: #E8291C;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.saintsblack {
    background-color: #101820;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.raidersblack {
    background-color: #000000;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.soxblack {
    background-color: #27251F;
    color: white;
    width: 320px;
    padding-left:  5px;
}

.raiderssilver {
    background-color: #A5ACAF;
    color: black;
    width: 320px;
    padding-left:  5px;
}

.soxsilver {
    background-color: #C4CED4;
    color: black;
    width: 320px;
    padding-left:  5px;
}

.angelssilver {
    background-color: #C4CED4;
    color: black;
    width: 320px;
    padding-left:  5px;
}

.lionssilver {
    background-color: #B0B7BC;
    color: black;
    width: 320px;
    padding-left:  5px;
}

.saintsgold {
    background-color: #D3BC8D;
    color: black;
    width: 320px;
    padding-left:  5px;
}

.royalsgold {
    background-color: #BD9B60;
    color: black;
    width: 320px;
    padding-left:  5px;
}

.bravesgold {
    background-color: #EAAA00;
    color: black;
    width: 320px;
    padding-left:  5px;
}